<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui segments">
        <div class="ui segment">
            <% blogs.forEach(function(blog){ %>
            <div class="ui large header"><%= blog.title %></div>
            <div class="extra">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="ui fluid rounded image">
                <img src="<%= blog.image %>">
            </div>
            <div class="content">

                <div class="description">
                    <!--trunctuating text to 200 characters-->
                    <p><%- blog.body.substring(0, 350) %>...</p>
                </div>

                <div class="read-more">
                    <a class="ui fluid teal basic button" href="/blogs/<%= blog._id %>">Read
                        More</a>
                </div>
                <div class="ui horizontal divider">
                    <i class="code icon"></i>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>





<% include ./partials/footer %>